@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  touch-action: none;
  /* width: 100px; */
  height: 10px;
}

.SliderTrack {
  background-color: white;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height:  2.4px;
  cursor: pointer;
}

.SliderRange {
  position: absolute;
  /* background-color: #121286; */
  background-color: #7dd3fc;
  border-radius: 9999px;
  height: 2.4px;

 
}

.SliderThumb {
  display: block;
  width: 13px;
  height: 13px;
  background-color: #7dd3fc;
  box-shadow: 0 2px 10px var(--black-a7);
  border-radius: 10px;
  cursor: pointer;
}

.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 10px 0px #121245;
}